.languages {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.languages-btn {
  border: none;
  width: 150px;
  height: 30px;
  background-color: #2b85cf;
  border-radius: 10px;
}
.languages-btn:hover {
  opacity: 0.7;
}
@media (max-width: 940px) {
  .languages {
    margin: 100px auto;
  }
  .languages-btn {
    width: 150px;
    height: 30px;
  }
}
@media (max-width: 640px) {
  .languages {
    margin: 100px auto;
    flex-direction: column;
  }
  .languages-btn {
    width: 150px;
    height: 30px;
  }
}
