.header {
  width: 100%;
  height: 200px;
  background-color: #a8dce7;
}
.header-blockimg {
  align-items: center;
  width: 100%;
  height: 85%;
  justify-content: center;
  display: flex;
  overflow: hidden;
  flex-direction: row;
}
.header-img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}
.header-menu {
  background-color: #a8dce7;
  width: 90%;
  height: 30px;
  display: flex;
  justify-content: center;
  gap: 10%;
  align-items: center;
  margin: 0 auto;
}
.btn-confidential {
  text-decoration: none;
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: center;
}
.btn-home {
  text-decoration: none;
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: center;
}
.btn-language {
  text-decoration: none;
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: center;
}
.header-href {
  color: #101422;
  font-size: 20px;
}
.header-href:hover {
  color: red;
}
@media (max-width: 940px) {
  .header-menu {
    flex-direction: column;
    margin-top: 3px;
    height: 90px;
    margin-bottom: 10px;
  }

  .btn-confidential {
    width: 100%;
    height: 20px;
  }
  .btn-home {
    width: 100%;
    height: 20px;
  }
  .btn-language {
    width: 100%;
    height: 20px;
  }
}
